* {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    margin: 1rem 0;
}

div {
    width: 30%;
}

label {
    font-size: 0.9rem;
}

input {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

select {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
}

button {
    width: 12%;
    padding: 0.8rem;
    border-radius: 5px;
    font-weight: 800;
    outline: none;
    box-shadow: 0 0 5px #ccc;
    border: none;
}

button:hover {
    cursor: pointer;
}

form:valid button[type="submit"] {
    background-color: #cfc;
    color: #060;
  }
  
  form:invalid button[type="submit"] {
    background-color: #fcc;
    color: #600;
  }