* {
  color: #eceff4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #2e3440;
}

img {
  max-width: 9.375rem;
  border: 1px solid #eceff4;
}
