* {
  color: #eceff4;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #2e3440;
  margin: auto;
  text-align: center;
  max-width: 80ch;
  min-width: 65ch;
}

li {
  text-align: left;
}

img {
  max-width: 9.375rem;
  border: 1px solid #eceff4;
}
