* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-family: arial, sans-serif;
  text-align: center;
}

#screen {
  position: relative;
}

video {
  height: auto;
  width: 100%;
}

#title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#title > img {
  width: 100%;
}

article {
  width: 720px;
  display: inline-block;
  text-align: left;
  margin: 0 10%;
}

p {
  color: black;
  font-size: 16px;
  line-height: 1.5;
}

#vid-mobile {
  display: none;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 940px) {
  #video {
    display: none;
  }
  #vid-mobile {
    display: block;
  }
}
